<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your cart</title>
    <%- include('fragments/bootstrap.ejs') %>
</head>
<body>
<%- include('fragments/menu.ejs', {pageId: 2, productLines}) %>
<div class="container text-center">
    <h1>Your cart</h1>
    <div class="row justify-content-md-center">
        <div class="col col-8">
            <% if(productLines.length) { %>
                <ol class="list-group list-group-numbered">
                    <% for(const productLine of productLines){ %>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a
                                            href="/detail?id=<%= productLine.id %>"><%= productLine.name %></a> -
                                    $<%= productLine.price * productLine.quantity %></div>
                            </div>
                            <span class="badge bg-primary rounded-pill">x<%= productLine.quantity %></span>
                        </li>
                    <% } %>
                </ol>
            <% }else{ %>
                <div class="alert alert-info" role="alert">
                    Your shopping cart is empty!
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>
